<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">MyFlaskApp</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" method="post">
                {% if session.logged_in %}
                    <a class="btn btn-danger" href="/logout" role="button">Logout</a>
                {% else %}
                    <div class="form-group">
                        <input type="email"  name="email" placeholder="Email" class="form-control" value="{{ request.form.email }}" required>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Password" class="form-control" value="{{ request.form.password }}" required>
                    </div>
                    <button type="submit" class="btn btn-success">Sign in</button>
                {% endif %}
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</nav>