<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">MyFlaskApp</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form navbar-right" method="post" action="">
                    {% if session.logged_in %}
                        <a class="btn btn-link" href="/dashboard" role="button"><span id="welcome">Welcome, {{ session.email }}</span></a>
                        <a class="btn btn-danger" href="/logout" role="button">Logout</a>
                    {% else %}
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Email" class="form-control"
                                   value="{{ request.form.email }}" required>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Password" class="form-control"
                                   value="{{ request.form.password }}" required>
                        </div>
                        <button type="submit" class="btn btn-success">Sign in</button>
                        <a class="btn btn-warning" href="/register" role="button">Register</a>
                    {% endif %}
                </form>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>